html {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

h2, h4, p {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#card {
  display: flex;
  margin: 8px;
  box-shadow: 3px 6px 10px 2px rgba(0,0,0,0.15);
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  flex-shrink: 0;
}

#top-section {
  width: 100%;
  height: 45%;
  padding: 25px;
}

#top-section h2 {
  color: #2ab2af;
  margin-bottom: 15px;
}

#top-section h4 {
  color: #c0df34;
  margin-bottom: 10px;
}

#top-section p {
  color: #98a6bd;
  line-height: 27px;
}


#bottom-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 55%;
  color: #e5eff5;
}

#bottom-left-section h4 {
  margin-bottom: 14px; 
  font-size: 1.2rem;
}

#bottom-left-section p {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

#price-container {
  margin-bottom: 10px;
}

#payment-amount {
  display: inline-block;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

#per-month {
  display: inline-block;
  position: relative;
  top: -5px;
  font-size: 0.8rem;
  opacity: 0.7;
  margin-left: 5px;
}

button {
  color: white;
  background-color: #c0df34;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 3px 6px 10px 2px rgba(0,0,0,0.1);
}

button:hover {
  cursor: pointer;
  background-color: #A9C42D;
  transform: scale(1.02);
}

#bottom-left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
  width: 100%;
  height: 100%;
  background-color: #2ab2af;
  padding: 25px;
}

#bottom-right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
  width: 100%;
  height: 100%;
  background-color: #4dc9c6;
  padding: 25px;
}

#bottom-right-section h4 {
  margin-bottom: -10px;
  font-size: 1.2rem;
}

ul {
  padding: 0;
  list-style: none;
  font-size: 1rem;
}

@media (max-width: 236px) {
  #card {
    width: 180px;
  }
}

@media (min-width: 616px) {
  #card {
    width: 600px;
    height: 400px;
  }
  #bottom-right-section, #bottom-left-section {
    align-items: start;
    width: 50%;
    height: 100%;
  }
  
  ul {
    font-size: 0.9rem;
    
  }
  
  #bottom-right-section h4 {
    margin-bottom: 5px;
  }
}
